* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Martian Mono', monospace;
}

/* Defaults */

h1,
h2,
h3 {
  font-weight: bold;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

p,
li,
a,
span {
  font-size: 1.6rem;
  text-decoration: none;
  list-style: none;
  color: inherit;
}

img {
  display: block;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

section {
  width: 100%;
}

.content {
  max-width: 80%;
  margin: auto;
  padding: 100px 0;
}

/* Navbar */
.nav,
.nav-items {
  display: flex;
}

.nav {
  justify-content: space-between;
  padding: 3rem 2rem;
  border-bottom: 1px solid #111;
}

.nav-items--secondary {
  gap: 3rem;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link--title:hover {
  text-decoration: none;
}

.nav-item--title,
.nav-link--title {
  text-transform: uppercase;
  font-weight: 900;
}

/* Hero */
.section--hero {
  background-color: #111;
  min-height: calc(100vh - 84px);
}

.content--hero {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  min-height: inherit;
  max-width: 100%;
  padding: 0;
}

.card {
  border-radius: 10px;
  background-color: #ebfffb;
  border: 1px solid #111;
  position: relative;
  padding: 2rem;
}

.student-section {
  position: absolute;
  bottom: 20px;
  width: calc(100% - 4rem);
}

.student-section--tp {
  text-align: right;
}

.card--banner {
  background-color: #FFD166;
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.card--color {
  background-color: violet;
}

/* Philippines */
.content--philippines {
  display: flex;
  min-height: 800px;
  gap: 50px;
}

.content--philippines > .content-description {
  max-width: 50%;
}

@keyframes hover-in-place {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.dropdown {
  background: #FFD166;
  padding: 2rem;
  border: 2px solid #111;
  border-radius: 10px;
  margin: 20px 0;
  cursor: pointer;
  animation: hover-in-place 2s infinite;
}

.dropdown-description--toggle {
  visibility: visible;
  height: auto;
}

.content--philippines > .content-design {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.panel {
  border-radius: 10px;
  overflow: hidden;
}

@keyframes zoom-in-place {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.panel > img {
  object-fit: contain;
}

.panel:first-child > img {
  animation: zoom-in-place 4s infinite;
}

.panel:last-child > img {
  animation: zoom-in-place 3s infinite;
}

.panel:first-child,
.panel:last-child {
  background-color: #ebfffb;
  border: 2px solid black;
}

/* Gallery */
.content--gallery {
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-height: 800px;
  margin: 100px 0;
  background-color: #111;
}

.art {
  border-radius: 10px;
  padding: 1rem;
  background-color: #ebfffb;
  border: 1px solid #111;
  width: inherit;
  height: inherit;
}

.art > .img-container > img {
  transition: 0.8s;
  display: block;
}

.img-container {
  overflow: hidden;
  border: inherit;
  width: 100%;
  height: 100%;
}

.art:hover > .img-container > img {
  transform: scale(1.2);
  transition: 0.4s;
}

